// NCI Gadi nf-core configuration profile

// TODO add a queue submission limit 
// TODO add dynamic retry for each process label 
// TODO add suitable resource limits to each process 
// TODO change queue for high mem
// TODO Test adding trace reports for SU calculation 
// TODO SU calculation afterScript to support benchmarking? 
// TODO why is custom trace not being saved? 

profiles {
    gadi {
    
        // Define timestamp, to avoid overwriting existing trace 
        def trace_timestamp = new java.util.Date().format('yyyy-MM-dd_HH-mm-ss')
        trace {
            enabled = true 
            file = "${params.outdir}/pipeline_info/gadi-resource-trace-${trace_timestamp}.txt"
            fields = 'name,status,exit,realtime,cpus,%cpu,memory,%mem,rss'
        }   

        singularity {
            enabled = true
            autoMounts = true
        }
        
        params {
            config_profile_description = 'NCI Gadi HPC profile'
        }

        process {
            executor = 'pbspro'
            clusterOptions = '-P er01'
            beforeScript = 'module load singularity nextflow'

            withLabel: process_low {
                queue = 'normal'
                time = '1h'
                cpus = 2
                memory = 6.GB

            }
            withLabel: process_medium {
                queue = 'normal'
                time = '1h'
                cpus = 2
                memory = 6.GB
            } 
            withLabel: process_high {
                queue = 'normal'
                time = '1h'
                cpus = 2
                memory = 6.GB
            }
        }
    }
}