// NCI Gadi nf-core configuration profile

// TODO add a queue submission limit 
// TODO add dynamic retry for each process label 
// TODO add suitable resource limits to each process 
// TODO change queue for high mem
// TODO Test adding trace reports for SU calculation 
// TODO SU calculation afterScript to support benchmarking? 

profiles {
    gadi {
    
        // Profile config names for nf-core/configs
        params {
            config_profile_description = 'NCI Gadi HPC profile provided by nf-core/configs'
            config_profile_contact = 'Georgie Samaha (@georgiesamaha)'
            config_profile_url = 'https://opus.nci.org.au/display/Help/Gadi+User+Guide'
        }

        // Set environmental variables for Gadi
        env { 
            NXF_OPTS='-Xms4g -Xmx1g'
        }

        // Write custom trace file with outputs required for SU calculation
        def trace_timestamp = new java.util.Date().format('yyyy-MM-dd_HH-mm-ss')
        trace {
            enabled = true
            overwrite = false 
            file = "./gadi-resource-trace-${trace_timestamp}.txt"
            fields = 'name,status,exit,realtime,cpus,%cpu,memory,%mem,rss'
        } 

        // Enable use of Singularity to run containers 
        singularity {
            enabled = true
            autoMounts = true
        }

        process {
            executor = 'pbspro'
            clusterOptions = '-P er01'
            beforeScript = 'module load singularity nextflow'

            withLabel: process_low {
                queue = { if (task.memory < 128.GB) {'normalbw'} else if (task.memory >= 128.GB && task.memory <= 190.GB) {'normal'}}
                time = '24h'
                memory = 10.GB
            }
            withLabel: process_medium {
                queue = 'normal'
                time = '1h'
                cpus = 2
                memory = 6.GB
            } 
            withLabel: process_high {
                queue = 'normal'
                memory = 6.GB
            }
        }
    }
}